// =======================================
//   List of variables for Preset color
// =======================================

$preset-colors: (
  preset-1: (
    body: #e3f2fd,
    primary:#d12149 ,
    primary-dark: #d12149,
    secondary:  #d12149,
    secondary-dark: #5b5b5b
  )
);
$dark-preset-colors: (
  preset-1: (
    body: #111
  )
);
